h1 {
  text-decoration: underline;
  font-size: 21px;
}

ul {
  border: solid;
  border-width: 1px;
  border-color: black;
}

ul li {
  color: black;
  background-color: white;
}

ul li:hover {
  color: white;
  background-color: black;
}
